<p-sidebar position="right" [blockScroll]="true" [dismissible]="false" [showCloseIcon]="false" [closeOnEscape]="false" [visible]="(showOverlay | async) ?? false" styleClass="p-sidebar-lg">
    <div class="p-component">
        <h1>Привет.<br />Для начала, кто ты?</h1>
    </div>
    <div class="p-component fl-sidebar-content">
        <p-tabView [(activeIndex)]="activeIndex">
            <p-tabPanel header="Войти">
                <p-message [text]="signInFormError" severity="error" styleClass="fl-error-message-wide mb-1" *ngIf="signInFormError != null"></p-message>
                <app-sign-in-form (signin-submit)="onSignInFormSubmit($event)"></app-sign-in-form>
            </p-tabPanel>
            <p-tabPanel header="Зарегистрироваться">
                <p-message [text]="signUpFormError" severity="error" styleClass="fl-error-message-wide mb-1" *ngIf="signUpFormError != null">
                </p-message>
                <app-sign-up-form (signup-submit)="onSignupSubmit($event)"></app-sign-up-form>
            </p-tabPanel>
        </p-tabView>
    </div>
</p-sidebar>