<div class="grid p-4">
    <div class="md:col-6 col-12 md:col-offset-3">
        <p-card header="Регистрация крестьянина">
            <form [formGroup]="peasantForm" (ngSubmit)="onSubmit()">
                <span class="p-float-label mt-3">
                    <input id="firstName" type="text" pInputText formControlName="firstName">
                    <label for="firstName">Имя</label>
                    <small class="p-error" *ngIf="showFirstNameInvalidMessage()">{{getNameErrorMessage()}}</small>
                </span>

                <span class="p-float-label mt-5">
                    <input id="lastName" type="text" pInputText formControlName="lastName">
                    <label for="lastName">Отчество</label>
                    <small class="p-error" *ngIf="showLastNameInvalidMessage()">{{getNameErrorMessage()}}</small>
                </span>

                <span class="p-float-label mt-3">
                    <input id="middleName" type="text" pInputText formControlName="middleName">
                    <label for="middleName">Фамилия</label>
                </span>

                <span class="p-float-label mt-3">
                    <p-calendar formControlName="bithDate"></p-calendar>

                    <label for="bithDate">Дата рождения</label>

                </span>

                <span class="p-float-label mt-3">
                    <input id="placeBirth" type="text" pInputText formControlName="placeBirth">
                    <label for="placeBirth">Место рождения</label>

                </span>
                <span class="p-float-label mt-3">
                    <input id="sex" type="text" pInputText formControlName="sex">
                    <label for="sex">Пол</label>

                </span>

                <span class="p-float-label mt-3">
                    <textarea  id="owner" type="text" pInputTextarea formControlName="owner"></textarea>
                    <label for="owner">Основание владения</label>

                </span>
                <div class="mt-4 flex justify-content-end">
                    <p-button label="Отправить" type="submit" [disabled]="peasantForm.invalid" styleClass="p-button-success"></p-button>
                </div>
            </form>
        </p-card>
    </div>
</div>