.fl-app-title {
    font-size: 4rem;
}

.fl-app-subtitle {
    font-size: 2rem;
}

.initial-spinner-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl-app-menubar-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}