<div class="p-component" style="margin-top: 15rem;" *ngIf="showWelcomeBox | async">
    <h1 class="fl-app-title">FeoLife</h1>
    <h2 class="fl-app-subtitle p-text-secondary">Feodal life management services</h2>
    <div class="initial-spinner-container" *ngIf="showSpinner | async">
        <p-progressSpinner [style]="{ width: '2rem', height: '2rem' }" styleClass="custom-spinner"></p-progressSpinner>
        <small class="p-text-secondary ml-1">Connecting to the server...</small>
    </div>
</div>
<app-hello-sidebar></app-hello-sidebar>

<div class="fl-app-menubar-container" *ngIf="!(showWelcomeBox | async)">
    <p-menubar>
        <ng-template pTemplate="start">
            <button pButton pRipple type="button" label="FeoLife" class="p-button-text"></button>
        </ng-template>
        <ng-template pTemplate="end">
            <button pButton pRipple type="button" icon="pi pi-user" [label]="(profileName | async) ?? ''"
                class="p-button-text" (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
        </ng-template>
    </p-menubar>
</div>