.fl-app-title {
    font-size: 4rem;
}

.fl-app-subtitle {
    font-size: 2rem;
}

.initial-spinner-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
