<div class="grid p-4">
    <div class="md:col-6 col-12 md:col-offset-3">
        <p-card header="Регистрация крестьянина">
            <p-dataView [value]="peasantList" layout="list" emptyMessage="Нет новых крестьян">
                <ng-template let-peasant pTemplate="listItem">
                    <div class="col-12  justify-content-between">
                        <div class=>
                            <p class="ml-2 font-bold">
                                {{peasant.lastName}} {{peasant.firstName}} {{peasant.middleName ?? ''}}
                            </p>
                        </div>
                        <div class=" mt-4 flex justify-content-end">
                            <p-button label="Отказать" styleClass="p-button-danger" (onClick)="buttonClick(peasant.id,'reject')"></p-button>
                            <p-button class="ml-2" label="Подтвердить" styleClass="p-button-success" (onClick)="buttonClick(peasant.id,'approve')"></p-button>
                        </div>

                    </div>
                </ng-template>
            </p-dataView>

        </p-card>
    </div>
</div>